[user]
	name = basandlin
	email = brileysandlin@gmail.com
[push]
	default = simple
[alias]
        st = status
        cm = commit
        in = fetch --dry-run
        co = checkout
        cob = checkout -b
        br = branch -av
        bd = branch --delete
        cb = !git branch --no-color 2>/dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'
        pl = pull
	pr = pull --rebase origin master
        ps = push
	pb = !git push origin `git cb`
	pf = !git push origin `git cb` -f
        d = diff
        dc = diff --cached
        r = remote
	su = submodule update
[color]
	ui=auto
[url "https://github"]
